body {
  margin: 0;
  text-align: center;
  font-family: fantasy;
  font-family: 'Nanum Brush Script', cursive;
}

h1 {
  font-size: 5.625rem; /*16px=100%=1em=1M*/
  font-family: 'Dancing Script', cursive;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {}

img {}

table {}

/**********ClASS SELECTORS************/
.top-container {
  position: relative;
  padding-top: 100px;
}

.middle-container {}

.bottom-container {}

.skill-row{
  width: 50%;
  margin:100px auto 100px auto;
  /*text-align: left;
  line-hight: 2;*/
}

.korean_flag {
  width: 50%;
}

.top-cloud {
  width: 20%;
  position: absolute;
  right: 20%;
}

.bottom-cloud {
  width: 20%;
  position: absolute;
  left: 20%;
}

.Korean{
  width: 15%;
}
.English{
  width: 15%;
}
.Chinese{
  width: 15%;
}
.web-design{
  width: 15%;
}
.app-design{
  width: 15%;
}
.R-programming{
  width: 15%;
}
.Python-programming{
  width: 15%;
}
/***********ID SELECTORS************/
/*#*/
